@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

:root{
    --primary-color: #FBBF24;
}

header {
    background-color: var(--primary-color);
    position: fixed;
    height: 5rem;
    width: 100%;
    top:0;
}

h1 {
    margin-block-start: 0%;
    margin-block-end: 0%;
}
body {
    font-family: 'Gloria Hallelujah', cursive;
    margin-left: 0rem;
    margin-right: 0rem;
    text-align: center;
}
#txt-input {

    margin-top: 7.5rem;
    width: 10rem;
    height: 2rem;
    display: block;
}
#btn-translate {
    
    margin-top: 1rem;
    display: block;
}

textarea, button, #output {
    display: block;
    margin: auto;
}

#output {

    width: 10rem;
    height: 2rem;
    border: 1px solid black;
}

footer {

    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0rem 0.65rem;
    background-color: var(--primary-color);
    margin-top: 1rem;
}
/* footer does not stick to the bottom of the page */
/* Center align textarea, button, output-div */